USE [master]
GO
/****** Object:  Database [IntegralClass]    Script Date: 29/06/2021 16:50:40 ******/
CREATE DATABASE [IntegralClass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IntegralClass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IntegralClass.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IntegralClass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IntegralClass_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IntegralClass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IntegralClass]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[IdEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [char](8) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[ApPaterno] [varchar](100) NOT NULL,
	[ApMaterno] [varchar](100) NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[FecNacimiento] [date] NOT NULL,
	[Direccion] [varchar](300) NULL,
	[Email] [varchar](200) NULL,
	[Telefono] [char](9) NULL,
	[Foto] [image] NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[IdMatricula] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[GradoEscolar] [int] NOT NULL,
	[Seccion] [char](1) NOT NULL,
	[Turno] [char](1) NULL,
	[EscuelaProc] [varchar](100) NULL,
	[FecInscripcion] [date] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[IdMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[IdTutor] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [char](8) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[ApPaterno] [varchar](100) NOT NULL,
	[ApMaterno] [varchar](100) NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[FecNacimiento] [date] NOT NULL,
	[Direccion] [varchar](300) NULL,
	[Email] [varchar](200) NULL,
	[Telefono] [char](9) NOT NULL,
	[Ocupacion] [varchar](100) NULL,
	[NvAcademico] [varchar](50) NULL,
 CONSTRAINT [PK_Tutor] PRIMARY KEY CLUSTERED 
(
	[IdTutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorEstudiante]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorEstudiante](
	[IdEstudiante] [int] NOT NULL,
	[IdTutor] [int] NOT NULL,
	[Parentesco] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TutorEstudiante] PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC,
	[IdTutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estudiante] ON 

SET IDENTITY_INSERT [dbo].[Estudiante] OFF
GO
SET IDENTITY_INSERT [dbo].[Matricula] ON 

INSERT [dbo].[Matricula] ([IdMatricula], [IdEstudiante], [GradoEscolar], [Seccion], [Turno], [EscuelaProc], [FecInscripcion], [Estado]) VALUES (1009, 1010, 3, N'A', N'T', N'', CAST(N'2021-06-28' AS Date), 0)
INSERT [dbo].[Matricula] ([IdMatricula], [IdEstudiante], [GradoEscolar], [Seccion], [Turno], [EscuelaProc], [FecInscripcion], [Estado]) VALUES (1010, 1011, 3, N'C', N'T', N'Colegio Test', CAST(N'2021-06-17' AS Date), 1)
INSERT [dbo].[Matricula] ([IdMatricula], [IdEstudiante], [GradoEscolar], [Seccion], [Turno], [EscuelaProc], [FecInscripcion], [Estado]) VALUES (1011, 1012, 5, N'B', N'T', N'', CAST(N'2021-06-29' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Matricula] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutor] ON 

INSERT [dbo].[Tutor] ([IdTutor], [Dni], [Nombres], [ApPaterno], [ApMaterno], [Sexo], [FecNacimiento], [Direccion], [Email], [Telefono], [Ocupacion], [NvAcademico]) VALUES (7, N'Carlos  ', N'Carlos', N'Escudero', N'Alzamora', N'M', CAST(N'1978-06-20' AS Date), N'', N'aea@gmail.com', N'726265759', N'Arqueologo', N'Superior')
INSERT [dbo].[Tutor] ([IdTutor], [Dni], [Nombres], [ApPaterno], [ApMaterno], [Sexo], [FecNacimiento], [Direccion], [Email], [Telefono], [Ocupacion], [NvAcademico]) VALUES (8, N'08975456', N'Juan Test', N'Arizona', N'Mendez', N'M', CAST(N'1964-06-09' AS Date), N'Av La test', N'test@gmail.com', N'708564234', N'Inginiero Civil', N'Superior')
INSERT [dbo].[Tutor] ([IdTutor], [Dni], [Nombres], [ApPaterno], [ApMaterno], [Sexo], [FecNacimiento], [Direccion], [Email], [Telefono], [Ocupacion], [NvAcademico]) VALUES (9, N'17839445', N'Wilson', N'Mariños', N'Santos', N'M', CAST(N'1960-08-28' AS Date), N'Alto Salaverry Mx Lote13', N'wilson60@gmail.com', N'976246765', N'Chofer de Trailer', N'Secundaria')
SET IDENTITY_INSERT [dbo].[Tutor] OFF
GO
INSERT [dbo].[TutorEstudiante] ([IdEstudiante], [IdTutor], [Parentesco]) VALUES (1010, 7, N'Padre')
INSERT [dbo].[TutorEstudiante] ([IdEstudiante], [IdTutor], [Parentesco]) VALUES (1010, 10, N'Madre')
INSERT [dbo].[TutorEstudiante] ([IdEstudiante], [IdTutor], [Parentesco]) VALUES (1011, 8, N'Padre')
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiante] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Estudiante]
GO
ALTER TABLE [dbo].[TutorEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_TutorEstudiante_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiante] ([IdEstudiante])
GO
ALTER TABLE [dbo].[TutorEstudiante] CHECK CONSTRAINT [FK_TutorEstudiante_Estudiante]
GO
ALTER TABLE [dbo].[TutorEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_TutorEstudiante_Tutor] FOREIGN KEY([IdTutor])
REFERENCES [dbo].[Tutor] ([IdTutor])
GO
ALTER TABLE [dbo].[TutorEstudiante] CHECK CONSTRAINT [FK_TutorEstudiante_Tutor]
GO
/****** Object:  StoredProcedure [dbo].[uspCambiarEstadoMatricula]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCambiarEstadoMatricula]
@IdMatricula int,
@Estado bit
AS
UPDATE Matricula
SET Estado = @Estado
WHERE IdMatricula = @IdMatricula
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarTutor]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertarTutor]
--Tutar
@Dni char(8),
@Nombres varchar(100),
@ApPaterno varchar(100),
@ApMaterno varchar(100),
@Sexo char(1),
@FecNacimiento date,
@Direccion varchar(200),
@Email varchar(200),
@Telefono char(9),
@Ocupacion varchar(100),
@NvAcademico varchar(50),
--TutorEstudiante
@IdEstudiante int,
@Parentesco varchar(50)

AS

IF NOT EXISTS(SELECT TOP 1 IdTutor FROM Tutor WHERE Dni = @Dni)
BEGIN
INSERT INTO Tutor (Dni, Nombres, ApPaterno, ApMaterno, Sexo, FecNacimiento, Direccion, Email, Telefono, Ocupacion, NvAcademico)
VALUES(@Dni, @Nombres, @ApPaterno, @ApMaterno, @Sexo, @FecNacimiento, @Direccion, @Email, @Telefono, @Ocupacion, @NvAcademico)

DECLARE @AuxId int
set @AuxId = @@IDENTITY

INSERT INTO TutorEstudiante(IdEstudiante, IdTutor, Parentesco)
VALUES (@IdEstudiante, @AuxId, @Parentesco)
PRINT 'Tutor asginado con exito'
RETURN
END
ELSE
BEGIN
	PRINT 'El Tutor ya existe'
	RETURN
END
GO
/****** Object:  StoredProcedure [dbo].[uspListarEstudiantesHabilitados]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspListarEstudiantesHabilitados]
AS
SELECT e.IdEstudiante, e.Dni, e.Nombres, e.ApPaterno, e.ApMaterno, e.Sexo, e.FecNacimiento, e.Direccion, e.Email, e.Telefono, e.Foto  
FROM Estudiante e
JOIN Matricula m
ON e.IdEstudiante = m.IdEstudiante
WHERE m.Estado = 1
GO
/****** Object:  StoredProcedure [dbo].[uspListarEstudiantesInHabilitados]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspListarEstudiantesInHabilitados]
AS
SELECT e.IdEstudiante, e.Dni, e.Nombres, e.ApPaterno, e.ApMaterno, e.Sexo, e.FecNacimiento, e.Direccion, e.Email, e.Telefono, e.Foto  
FROM Estudiante e
JOIN Matricula m
ON e.IdEstudiante = m.IdEstudiante
WHERE m.Estado = 0
GO
/****** Object:  StoredProcedure [dbo].[uspListarMatriculas]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspListarMatriculas]
AS
SELECT IdMatricula, IdEstudiante, GradoEscolar, Seccion, Turno, EscuelaProc, FecInscripcion, Estado
FROM Matricula
GO
/****** Object:  StoredProcedure [dbo].[uspListarTutores]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspListarTutores]
AS
SELECT *
FROM Tutor t
GO
/****** Object:  StoredProcedure [dbo].[uspListarTutoresDeEstudiante]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspListarTutoresDeEstudiante]
@IdEstudiante int
AS
SELECT t.IdTutor, t.Dni, t.Nombres, t.ApPaterno, t.ApMaterno, te.Parentesco
FROM Tutor t
INNER JOIN TutorEstudiante te
ON t.IdTutor = te.IdTutor
WHERE te.IdEstudiante = @IdEstudiante
GO
/****** Object:  StoredProcedure [dbo].[uspMatricular]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMatricular]
--Estudiante
@Dni char(8),
@Nombres varchar(100),
@ApPaterno varchar(100),
@ApMaterno varchar(100),
@Sexo char(1),
@FecNacimiento date,
@Direccion varchar(200),
@Email varchar(200),
@Telefono char(9),
@Foto image,
--Matricula
@GradoEscolar int,
@Seccion char(1),
@Turno char(1),
@EscuelaProc varchar(100),
@FecInscripcion date,
@estado bit

AS

IF NOT EXISTS(SELECT TOP 1 IdEstudiante FROM Estudiante WHERE Dni = @Dni)
BEGIN
INSERT INTO Estudiante (Dni, Nombres, ApPaterno, ApMaterno, Sexo, FecNacimiento, Direccion, Email, Telefono, Foto)
VALUES(@Dni, @Nombres, @ApPaterno, @ApMaterno, @Sexo, @FecNacimiento, @Direccion, @Email, @Telefono, @Foto)

DECLARE @AuxId int
set @AuxId = @@IDENTITY

INSERT INTO Matricula (IdEstudiante, GradoEscolar, Seccion, Turno, EscuelaProc, FecInscripcion, estado)
VALUES (@AuxId, @GradoEscolar, @Seccion, @Turno, @EscuelaProc, @FecInscripcion, @estado)
PRINT 'Se Matriculo al estudiante con exito'
RETURN
END
ELSE
BEGIN
	PRINT 'El estudiante ya se matriculo'
	RETURN
END
GO
/****** Object:  StoredProcedure [dbo].[uspMiniListarTutores]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMiniListarTutores]
AS
SELECT IdTutor, Dni, ApPaterno, ApMaterno
FROM Tutor
GO
/****** Object:  StoredProcedure [dbo].[uspSearchEstudiante]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSearchEstudiante]
@Dni varchar(8)
AS
SELECT e.IdEstudiante, e.Dni, e.Nombres, e.ApPaterno, e.ApMaterno, e.Sexo, e.FecNacimiento, e.Direccion, e.Email, e.Telefono, e.Foto  
FROM Estudiante e
JOIN Matricula m
ON e.IdEstudiante = m.IdEstudiante
WHERE m.estado = 1
AND e.Dni LIKE @Dni + '%' 
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateEstudiante]    Script Date: 29/06/2021 16:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateEstudiante]
@IdEstudiante int,
@Telefono char(9),
@Direccion varchar(300),
@Email varchar(200),
@Foto image
AS
UPDATE Estudiante
SET Telefono = @Telefono, Direccion = @Direccion, Email = @Email, Foto = @Foto
WHERE IdEstudiante = @IdEstudiante
GO
USE [master]
GO
